<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-cEnter py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Input / Upload
          </h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Data Governance
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Input / Upload
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <!-- <a
            href="javascript:void(0)"
            class="btn btn-sm btn-default"
            (click)="openModal(addComplain, undefined)"
          >
            Add Templat
          </a> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Total Upload
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 350 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2">
                        <i class="fa fa-arrow-up"> </i> 3.48%
                      </span>
                      <span class="text-nowrap"> Since last month </span>
                    </p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    New Upload
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 24 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class="ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2">
                        <i class="fa fa-arrow-up"> </i> 3.48%
                      </span>
                      <span class="text-nowrap"> Since last month </span>
                    </p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Error Upload
                  </h5>
                  <span class="h2 font-weight-bold mb-0"> 92 </span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class="ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2">
                        <i class="fa fa-arrow-up"> </i> 3.48%
                      </span>
                      <span class="text-nowrap"> Since last month </span>
                    </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <!-- <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-cEnter">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Chart</h6>

              <h5 class="h3 mb-0">Trend</h5>
            </div>
          </div>
        </div>

        <div style="width: 100%; height: 450px;" id="chartdivTemplat"></div>
      </div>
    </div> -->
    <div class="col-md-12">
      <div class="card">
        <div class="card card-body">
          <div class="form-group">
            <label class="form-control-label">Name</label>
            <input class="form-control" placeholder="Enter Name" type="text" />
          </div>
          <div class="form-group">
            <label class="form-control-label">Description</label>
            <textarea
              class="form-control"
              placeholder="Enter Description"
              type="text"
            ></textarea>
          </div>

          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Drop File!</ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngFor="let f of files"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="card-footer">
          <!-- <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>-->

          <ngx-dropzone-video-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-video-preview>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">List Uploaded Files</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                  record
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <!-- <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div> -->
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listTemplate"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.template }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Description</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.description }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template
                >{{ row.created_at | date: "dd/MM/yyyy" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span> </span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-sm btn-info">
                  <a
                    (click)="openModal(editComplain, row)"
                    style="cursor: pointer;"
                  >
                    <i class="fas fa-file-alt"></i>
                  </a></button
                >&nbsp; &nbsp;

                <button class="btn btn-sm btn-warning">
                  <a
                    style="cursor: pointer;"
                    (click)="this.successAlert('Download')"
                    ><i class="fas fa-download"></i
                  ></a></button
                >&nbsp; &nbsp;
                <button class="btn btn-sm btn-danger">
                  <a
                    style="cursor: pointer;"
                    (click)="this.successAlert('padam')"
                    ><i class="fas fa-trash"></i
                  ></a>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #editComplain>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Update File
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editTemplatForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter Name"
          formControlName="name"
          type="text"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label">Description</label>
        <textarea
          class="form-control"
          placeholder="Enter Description"
          formControlName="detail"
          type="text"
        ></textarea>
      </div>

      <input name="id" formControlName="id" type="hidden" />
    </form>
  </div>

  <div class="modal-footer">
    <div class="text-cEnter">
      <button
        class="btn btn-default"
        type="submit"
        (click)="editTemplatDetail()"
      >
        Save
      </button>

      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #addComplain>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah Templat
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="addNewTemplatForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input
          class="form-control"
          placeholder="Enter Name"
          formControlName="name"
          type="text"
        />
      </div>

      <div class="form-group">
        <label class="form-control-label">Description</label>
        <textarea
          class="form-control"
          placeholder="Enter Description"
          formControlName="detail"
          type="text"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="text-cEnter">
      <button class="btn btn-default" type="submit" (click)="addNewTemplat()">
        Simpan
      </button>

      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
